La agencia nacional de estadisticas de bs as recolecta info de nacimientos cuando los padres registran a sus hijos en el registro civil a partir de una encuesta. Esa info se encuentra disponible para su analisis en un csv con el siguiente formato (dia_nacimiento, mes_nacimiento, anio_nacimiento, peso_al_nacer, longitud_al_nacer, id_hospital, tipo_parto), donde tipo_parto = 1 es natural, tipo_de_parto = 2 es cesarea.
Por otro lado la agencia cuenta con info historica de los hospitales en otro csv con formato (id_hospital, direccion, promedio_nacimientos_mensual). Se pide:
A) Calcular la cantidad de nacimientos para cada uno de los hospitales en mes de octubre de 2019 e indicar aquellos hispitales que superan el promedio de nacimientos mensuales
B) Comparando el mes de octubre de 2017 indicar programaticamente si se incremento el % de cesareas con respecto a ese mes del año 2016.

In [12]:
import pandas as pd
import random

dataFrameNacimientosCompletos = pd.DataFrame(columns = ['dia_nacimiento','mes_nacimiento','anio_nacimiento','peso_al_nacer','longitud_al_nacer','id_hospital','tipo_parto'])
dataFrameNacimientosMensuales = pd.DataFrame(columns = ['id_hospital','direccion','promedio_nacimientos_mensual'])

direccionesHospitales = ['Direccion 1', 'Direccion 2', 'Direccion 3', 'Direccion 4', 'Direccion 5']
for id_hospital in range(5):
    for _ in range(40):
        dataFrameNacimientosCompletos = dataFrameNacimientosCompletos.append({
            'dia_nacimiento' : random.randint(1,30),
            'mes_nacimiento' : random.randint(1,12),
            'anio_nacimiento' : random.randint(2016,2017),
            'peso_al_nacer' : random.uniform(1,6),
            'longitud_al_nacer' : random.uniform(0.30, 0.70), #metros
            'id_hospital' : id_hospital,
            'tipo_parto' : random.randint(1,2)
        }, ignore_index = True)
        
    dataFrameNacimientosMensuales = dataFrameNacimientosMensuales.append({
        'id_hospital' : id_hospital,
        'direccion' : direccionesHospitales[id_hospital],
        'promedio_nacimientos_mensual' : random.randint(1,6)
    }, ignore_index = True)

dataFrameNacimientosCompletos = dataFrameNacimientosCompletos.astype({
    'dia_nacimiento' : int,
    'anio_nacimiento' : int,
    'mes_nacimiento' : int,
    'id_hospital' : int,
    'tipo_parto' : int
})

dataFrameNacimientosMensuales = dataFrameNacimientosMensuales.astype({
    'id_hospital' : int
})

In [13]:
dataFrameNacimientosCompletos

,dia_nacimiento,mes_nacimiento,anio_nacimiento,peso_al_nacer,longitud_al_nacer,id_hospital,tipo_parto
0,24,8,2016,4.669831,0.320295,0,1
1,9,5,2016,1.228921,0.487230,0,2
2,3,1,2017,1.698307,0.631797,0,2
3,29,10,2016,5.552384,0.592326,0,2
4,22,1,2016,2.621765,0.610606,0,1
...,...,...,...,...,...,...,...
195,23,7,2016,1.233562,0.316710,4,2
196,29,4,2017,4.462990,0.447071,4,2
197,21,1,2016,5.411698,0.656963,4,1
198,30,6,2017,3.351190,0.500631,4,2
199,1,9,2017,5.916990,0.474598,4,2

In [14]:
dataFrameNacimientosMensuales

   id_hospital    direccion promedio_nacimientos_mensual
0            0  Direccion 1                            4
1            1  Direccion 2                            1
2            2  Direccion 3                            1
3            3  Direccion 4                            1
4            4  Direccion 5                            2

In [17]:
#A)
nacimientosOct2017 = dataFrameNacimientosCompletos[(dataFrameNacimientosCompletos['mes_nacimiento'] == 10) & (dataFrameNacimientosCompletos['anio_nacimiento'] == 2017)]
nacimientosOct2017 = nacimientosOct2017.groupby('id_hospital').agg({'dia_nacimiento' : 'count'})
nacimientosOct2017.columns = ['cantidad_nacimientos_oct_2017']    
nacimientosOct2017

             cantidad_nacimientos_oct_2017
id_hospital
0                                        2
1                                        3
2                                        2
4                                        1

In [18]:
dfMergeado = nacimientosOct2017.merge(dataFrameNacimientosMensuales, on = 'id_hospital')
dfMergeado[dfMergeado['cantidad_nacimientos_oct_2017'] > dfMergeado['promedio_nacimientos_mensual']]

,id_hospital,cantidad_nacimientos_oct_2017,direccion,promedio_nacimientos_mensual
1,1,3,Direccion 2,1
2,2,2,Direccion 3,1

In [31]:
#B)
partosOctubre = dataFrameNacimientosCompletos[dataFrameNacimientosCompletos['mes_nacimiento'] == 10]
cesareasOctubre2016 = partosOctubre[(partosOctubre['anio_nacimiento'] == 2016) & (partosOctubre['tipo_parto'] == 2)].reset_index()
cesareasOctubre2017 = partosOctubre[(partosOctubre['anio_nacimiento'] == 2017) & (partosOctubre['tipo_parto'] == 2)].reset_index()
#ahora cuento la cantidad de cesareas de cada año
cesareasOctubre2017['tipo_parto'].count() > cesareasOctubre2016['tipo_parto'].count()

False